# Variables minimas para Vercel
# Usa una sola URI de conexion.
MONGODB_URI=mongodb+srv://luisandresrodriguezcampos0709_db_user:tFdLicJndnPPGeSV@valiandb.vhymgiy.mongodb.net/?appName=ValianDB
MONGODB_DATABASE_NAME=valianDB

