PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017
DB_DATABASE=ValianDB

SESSION_DURATION_HOURS=12
SESSION_INACTIVITY_MINUTES=60
SESSION_RENEWAL_THRESHOLD_MINUTES=2
SESSION_MAX_ACTIVE=5

DB_COLLECTION_USUARIOS=usuarios
DB_COLLECTION_SESIONES=sesiones
DB_COLLECTION_SUCURSALES=sucursales
DB_COLLECTION_DEPARTAMENTOS=departamentos
DB_COLLECTION_PERFILES=perfiles
